chromadb
sentence-transformers
langchain-text-splitters
python==3.12
llama-cpp-python
tqdm
huggingface_hub # Downloading models
pypdf
pymupdf         # Fast PDF handling
python-docx     # Word Docs
pillow          # Image processing
rapidocr-onnxruntime #lightweight OCR model